{% extends 'main.html' %}
{% from 'macros/form_macros.html' import show_field_no_label, show_submit, show_switch, show_field %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container pt-2 pb-2">
      <a class="navbar-brand" href="{{ url_for('admin.home') }}">Bolsones Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
                <a href="{{ url_for('admin.home') }}" class="nav-link active me-3">Panel admin</a>
            </li>
          <li class="nav-item">
            <a class="nav-link active me-3 link-designated" href="{{url_for('bolsones.venta', page = 1)}}">Ver bolsones</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary py-2 px-4" href="{{ url_for('main.logout') }}" tabindex="-1" aria-disabled="true">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">


          
    <div class="row">

        <div class="d-flex justify-content-center">

            <div class="col-md-4">
                <form class="">
    
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="d-flex flex-column">
                                <label for="exampleInputEmail1" class="form-label">Filtrar by estado</label>
                                <div class="d-flex">
                                    <!-- <input type="number" class="form-control me-3 rounded" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa un id"> -->
                                    {{show_field_no_label(filter.status, class='form-control form-select input')}}
<!-- 
                                    <button type="submit" class="btn btn-primary px-3 rounded-3">
                                        <i class="fas fa-search"></i>
                                    </button> -->

                                    {{show_submit(filter.submit, class='btn btn-primary px-3 ms-3 rounded-3')}}

                                </div>


                            </div>

    
                </form>
    
            </div>

        </div>


    </div>

    <div class="row mt-4">

        <table class="tabla text-white bg-secondary">
            <thead class="">
              <tr class="">
                <th scope="col">Id</th>
                <th scope="col">Usuario</th>
                <th scope="col">Estado</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
            
            {% for compra in compras %}
                <tr>
                  <td scope="row">{{ compra['id'] }}</th>
                  <td>
                      <a href="#" class="text-white">

                          {{ compra['usuario']['nombre'] + ' ' + compra['usuario']['apellido'] }}
                      </a>  
                  </td>
                  <td>
                    {% if compra['retirado'] == true %}

                    <div class="btn btn-success">
                        Retirado
                        <i class="fas fa-check-circle ms-2"></i>
                    </div>

                  {% else %}

                  <div class="btn bg-warning text-white">
                    Pendiente
                    <i class="fas fa-exclamation-circle ms-2"></i>
                  </div>

                  {% endif %}
                  </td>
                  <td>
                        <a href="{{ url_for('admin.ver_compra', id = compra['id']) }}" class="btn btn-primary">
                            Ver detalle
                        </a>
                        {% if compra['retirado'] == false %}
                        <a href="{{ url_for('admin.bolson_retirado', id = compra['id']) }}" class="btn btn-danger text-white ms-2">
                            Marcar retirado
                        </a>
                        {% endif %}
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<div class="container my-5 p-0">
    <nav aria-label="" class="">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link bg-forms pag-back" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
          </li>
          <li class="page-item"><a class="page-link bg-contrast" href="#">1</a></li>
          <li class="page-item" aria-current="page">
            <a class="page-link bg-forms" href="#">2</a>
          </li>
          <li class="page-item">
              <a class="page-link bg-forms" href="#">3</a>
            </li>
          <li class="page-item">
            <a class="page-link bg-forms pag-next" href="#">Siguiente</a>
          </li>
        </ul>
      </nav>
</div>






</div>

{% endblock %}