{% extends 'main.html' %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container pt-2 pb-2">
      <a class="navbar-brand" href="{{ url_for('proveedor.home') }}">Bolsones Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link active me-3 link-designated" href="{{url_for('bolsones.venta', page = 1)}}">Ver bolsones</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-contrast py-2 px-4" href="{{ url_for('main.logout') }}" tabindex="-1" aria-disabled="true">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container">

      <div class="row">
        <div class="col-md-2 col-sm-1 col-xs-0"></div>
        <div class="col-md-6 col-sm-7 col-9 d-grid">
          <div class="btn-estatico bg-warning mt-3">Bienvenido {{current_user.email}}</div>
        </div>
        <div class="col-md-2 col-sm-3 col-3 d-grid">
          <div class="btn-estatico bg-provider mt-3">proveedor</div>
        </div>
        <div class="col-md-2 col-sm-1 col-xs-0"></div>
      </div>

      <div class="row mt-4 mb-4">


          <div class="col-md-6 mt-3">
              <div class="d-grid">
              <!-- <button class="btn btn-secondary" type="button">Agregar proveedor</button> -->
              <a href="{{url_for('proveedor.agregar_producto')}}">
                      <div class="btn-own p-3 bg-secondary d-flex justify-content-between">
                          <div class="d-flex justify-content-start align-items-center">
                              <div>
                                <i class="fab fa-envira fs-3"></i>
                              </div>
                              <div>
                                  <p class="mb-0 ms-2">Agregar producto</p>
                              </div>
                          </div>
                          <div>
                              <i class="fas fa-arrow-circle-right fs-2"></i>
                          </div>
                      </div>
                  </a>
              </div>
          </div>

          <div class="col-md-6"></div>


        <div class="col-md-6 mt-3">
          <div class="d-grid">
            <!-- <button class="btn btn-secondary" type="button">Agregar proveedor</button> -->
              <a href="#">
                  <div class="btn-own p-3 bg-secondary d-flex justify-content-between">
                      <div class="d-flex justify-content-start align-items-center">
                          <div>
                            <i class="fas fa-layer-group fs-3"></i>
                          </div>
                          <div>
                              <p class="mb-0 ms-2">Ver mis productos</p>
                          </div>
                      </div>
                      <div>
                          <i class="fas fa-arrow-circle-right fs-2"></i>
                      </div>
                  </div>
              </a>
          </div>
        </div>

        <div class="col-md-6"></div>

        <div class="col-md-6 mt-3">
          <div class="d-grid">
            <!-- <button class="btn btn-secondary" type="button">Agregar proveedor</button> -->
              <a href="{{ url_for('proveedor.editar_perfil') }}">
                  <div class="btn-own p-3 bg-secondary d-flex justify-content-between">
                      <div class="d-flex justify-content-start align-items-center">
                          <div>
                            <i class="fas fa-user-circle fs-3"></i>
                          </div>
                          <div>
                              <p class="mb-0 ms-2">Editar perfil</p>
                          </div>
                      </div>
                      <div>
                          <i class="fas fa-arrow-circle-right fs-2"></i>
                      </div>
                  </div>
              </a>
          </div>
        </div>

        <div class="col-md-6"></div>

      </div> <!--ROW-->
      

    </div>

{% endblock %}