{% extends 'main.html' %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container pt-2 pb-2">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Bolsones Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active me-3 link-designated" href="{{ url_for('bolsones.venta', page = 1) }}">Ver bolsones</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary py-2 px-4" href="{{ url_for('main.login') }}" tabindex="-1" aria-disabled="true">Iniciar sesion</a>
                </li>
                </ul>
            </div>
        </div>
  </nav>

    <div class="container">

      <div class="row d-flex justify-content-center my-5">
          <div class="bg-forms p-5 rounded col-md-4 col-10">
              <div class="d-flex justify-content-center">
                  <h3>Registrarse</h3>
              </div>
              <form class="pt-3">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu nombre">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Apellido</label>
                      <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu apellido">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Telefono</label>
                      <input type="phone-number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu telefono">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu email">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu password">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                      <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirma tu password">
                  </div>
                  <div class="d-grid pt-3">
                      <button type="submit" class="btn btn-primary">Registrarse</button>
                  </div>
                </form>
          </div>
      </div>


    </div>

{% endblock %}