<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <title>Bienvenido</title>

</head>

<style>
    body{
        background-color: rgb(240, 75, 124);
        font-family: 'Itim', cursive;
    }
    .contenedor{
        margin: 0 auto;
        max-width: 80%;
        background-color: #fff;
        padding: 20% 0;
        text-align: center;
    }
    h1, h2{
        color: black;
    }
</style>

<body>

    <div class="contenedor">
        <h1>Bienvenido {{usuario.nombre}} {{usuario.apellido}} a la App de bolsones</h1>

        <h2>Compra, vende e intercambia bolsones de productos</h2>


    </div>

</body>
</html>